<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.dolphinscheduler.dao.mapper.DataSourceNewMapper">
    <sql id="baseSql">
        id
        ,datasource_name
        ,datasource_desc
        ,datasource_type
        ,hostname
        ,port
        ,user_name
        ,password
        ,database_name
        ,schema_name
        ,driver_name
        ,is_able
        ,createtime
        ,updatetime
    </sql>
    <select id="queryDataSourceListPaging" resultType="org.apache.dolphinscheduler.dao.entity.DataSourceNew">
        select
        <include refid="baseSql"/>
        from data_center.datasource_info
        where 1=1
        <if test="searchVal != null and searchVal != ''">
            and datasource_name like concat('%',#{searchVal},'%')
            OR datasource_desc like concat('%',#{searchVal},'%')
            OR hostname like concat('%',#{searchVal},'%')
        </if>
    </select>

    <select id="queryDataSourceNewIdList" resultType="org.apache.dolphinscheduler.dao.entity.DataSourceNewId">
        select
            id
            ,datasource_name
        from data_center.datasource_info
        where 1=1
        AND is_able = 1
    </select>
</mapper>
